@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  font-family: "Architects Daughter", cursive;
}
body {
  background-size: cover;
}

.content {
  margin: 0 auto;
  margin-top: 23px;
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  color: rgb(250, 231, 197);
}

.location,
.fororder {
  color: rgb(243, 198, 115);
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  overflow: hidden;
  width: 80%;
  margin: auto;
  height: 218px;
  margin-top: 59px;
}

.parent img {
  width: 100%;
  object-fit: cover;
}

/* css for menu */

.menu-wrapper{
    margin: 0 auto 0px auto;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
    margin: 0 auto;
    width: 90%;
}

.product{
    background: white;
    display: flex;
    width: 90%;
    height: 154px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,1);
    text-align: center;
}

.product h2{

    margin: 0;
}

.product p{
    font-size: 16px;
    margin: 0;
}

.product h3{
    margin: 3px;
}

.product .cart-btn{
    color: black;
    font-weight: 900;
    background: navajowhite;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,1);
}

.img{
    width: 50%;
}

.desc{
    width: 50%;
}

.img img{
    width: 100%;
    object-fit: cover;
    mix-blend-mode: hard-light;
    filter: brightness(0.6);
}

.clicked{
  background-color: white !important;
  color: black !important;

}

.remove{
  background: #ff5858;
    border: 0;
    cursor: pointer;
}

.formwrap{
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: antiquewhite;
}

.form{
  width: 250px;
  height: 401px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
  margin-top : 34px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #fff;
  color: #ff7200;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a{
  text-decoration: none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icons a{
  text-decoration: none;
  color: #fff;
}
.icons ion-icon{
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover{
  color: #ff7200;
}
